<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<html>
<!--<div class="fluid-container">
    <nav>
        <div th:replace="~{my-menu :: mymenu(addStudent)}">
        </div>
    </nav>
</div>-->
<body>
<form th:action="@{/books/add}" th:object="${book}" method="post">
    Title: <input type="text" th:field="*{title}"/>
    <br>
    Short description: <input type="text" th:field="*{shortDescription}">
    <br>
    Release Year: <input type="text" th:field="*{releaseYear}">
    <br>
    <div class="submit">
        <button name="addBook" type="submit">Add book</button>
    </div>

</form>
</body>
<!--<footer>
    <div th:insert="~{my-footer :: foot}">
    </div>
</footer>-->
</html>
