<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.projects.spring"/>
    <!--    <bean id="storage" class="ru.projects.spring.StorageImpl"/>-->
    <!--    <bean id="help" class="ru.projects.spring.HelpIml"/>-->
    <bean id="reception" class="ru.projects.spring.ReceptionImpl">
        <property name="storage" ref="storage"/>
        <property name="help" ref="help"/>
    </bean>
</beans>